.header {
    position: fixed;
    overflow-x: auto; //先暂时用这个
    top: 0;
    left: 0;
    display: flex;
    height: var(--header-height);
    line-height: var(--footer-height);
    background-color: var(--primary-color);
    // padding-left: @sider-width;
    z-index: 10;
    width: 100%;

    .count {
        display: flex;
        flex: 1;
        min-width: 580px;
        width: 100%;
        justify-content: space-between;

        .count-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}