.item {
    span {
        width: 40px;
        height: 100%;
        cursor: pointer;
        color: var(--header-menuColor);

        &:hover {
            color: var(--header-menuColor-active);
        }
    }
}