.serach {
    width: 160px;

    .serach-put {
        color: #fff;
        background-color: var(--primary-color);
        border: none;
        border-radius: 20px;

        input {
            background-color: var(--primary-color);
            color: #fff;

            &::-webkit-input-placeholder {
                color: rgba(255, 255, 255, .3);
                font-size: 10px;
            }
        }
    }

}